html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: no-repeat center center fixed;
  background-size: cover;
  background-color: hsl(250, 0%, 30%);
  color: white;
  font-family: "Times New Roman", Times, serif;
  padding: 1em;
}

p {
  margin: 0.5em 0;
}

a,
a:visited,
a:active,
a:focus {
  color: white;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.crypto-info,
.time-text,
.location-text,
.weather-container {
  font-size: 1.25rem;
  text-shadow: 1px 1px 6px #000;
}

.crypto-info {
  grid-area: 1 / 1 / 2 / 2;
}

.coin-name {
  display: flex;
  align-items: center;
}

.coin-name img {
  margin-right: 0.5em;
  width: 2em;
}

.time-text {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
  align-self: center;
  font-size: 3.5rem;
}

.location-text {
  grid-area: 4 / 1 / 2 / 5;
  align-self: end;
  font-weight: bold;
  margin: 0;
}

.weather-container {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: end;
  align-self: start;
}

.weather-container img {
  width: 3em;
}

.weather-container p {
  margin: 0.25em;
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
